@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

header {

    margin: 10px;
    padding: 10px;
    border: 10px;
     
}
body{
    font-family:'Tangerine', cursive;
    color: #FFBF00;
    font-size: 50px;
    font-weight: bolder;
       
}


h2{
    font-family:'Tangerine', cursive;
    letter-spacing: 4px;
    color: #FFBF00;
    font-size: 160px;
    font-weight: bold;
    float: left;
    
}



#items{
    font-size: 80%;
    list-style-type: none;
    letter-spacing: 4px;
    font-weight: bold;
    color: #FFBF00;
}

#logo, #items{
    line-height: 140px;


}

#fst-picture{
    height:600px;
    width: 100%;
    background: url("../img/download.jpg") no-repeat center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    background-size: 100%;
    opacity: 4;
   
   
}

#fst-picture-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}


#items li {
    float: right;
    margin-right: 30px;
}

#items a {
    text-decoration: none;
    color: #FFBF00;;
}

#items a:hover{
    border-bottom: 1px solid #777777;
}

.active{
    border-bottom: 1px solid #777777;
}

h3 {

    font-size: 40px;
    font-weight: bold;
}

footer{
    height: 150px;
}

.pagination-lg {

   
    justify-content: flex-end;
    font-weight: bold;
    color: #84DE02;
    

   
}

.social-networks{
    text-align: center;
   

}

.social-networks li{
    display: inline;
    color: #84DE02;
}

.social-networks li{
    font-size: 100%;
    margin: 1%;
    padding-bottom: 5px;
    color: #84DE02;
}


/*second page*/

.breakfast {
    padding: 0%;
}


.card {
    
    display: inline-block;


}



